# Virtual environment
.venv/
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
venv/
env/

# Backend data files
backend/*.json

# Python cache
__pycache__/
*.py[cod]

# OS files
Thumbs.db
.DS_Store
